{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>CyberMorphic</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'Arsha/assets/img/logo.png' %}" rel="icon">
  <link href="{% static 'Arsha/assets/img/apple-touch-icon.png' %}" rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Jost:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'Arsha/assets/vendor/aos/aos.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/bootstrap-icons/bootstrap-icons.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/boxicons/css/boxicons.min.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/glightbox/css/glightbox.min.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/remixicon/remixicon.css' %}" rel="stylesheet">
  <link href="{% static 'Arsha/assets/vendor/swiper/swiper-bundle.min.css' %}" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'Arsha/assets/css/style.css' %}" rel="stylesheet">

    <!-- JQuery -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="{% static 'Arsha/assets/js/notify.min.js'  %}"></script>

  <!-- =======================================================
  * Template Name: Arsha - v4.7.0
  * Template URL: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/
  * Author: BootstrapMade.com
  * License: https://bootstrapmade.com/license/
  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="fixed-top ">
    <div class="container d-flex align-items-center">

      <h1 class="logo me-auto"><a href="">Cybermorphic</a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
<!--       <a href="" class="logo me-auto"><img src="{% static 'Arsha/assets/img/logo.png' %}" alt="" class="img-fluid"> Arsha</a>-->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" href="#hero">Home</a></li>
          <li><a class="nav-link scrollto" href="#about">About</a></li>
          <li><a class="nav-link scrollto" href="#services">Services</a></li>
<!--          <li><a class="nav-link   scrollto" href="#portfolio">Portfolio</a></li>-->
          <li><a class="nav-link scrollto" href="#team">Team</a></li>
<!--          <li class="dropdown"><a href="#"><span>Drop Down</span> <i class="bi bi-chevron-down"></i></a>-->
<!--            <ul>-->
<!--              <li><a href="#">Drop Down 1</a></li>-->
<!--              <li class="dropdown"><a href="#"><span>Deep Drop Down</span> <i class="bi bi-chevron-right"></i></a>-->
<!--                <ul>-->
<!--                  <li><a href="#">Deep Drop Down 1</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 2</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 3</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 4</a></li>-->
<!--                  <li><a href="#">Deep Drop Down 5</a></li>-->
<!--                </ul>-->
<!--              </li>-->
<!--              <li><a href="#">Drop Down 2</a></li>-->
<!--              <li><a href="#">Drop Down 3</a></li>-->
<!--              <li><a href="#">Drop Down 4</a></li>-->
<!--            </ul>-->
<!--          </li>-->
          <li><a class="nav-link scrollto" href="#contact">Contact</a></li>
          <li><a class="getstarted scrollto" href="#about">Get Started</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->

    </div>
  </header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">

    <div class="container">
      <div class="row">
        <div class="col-lg-6 d-flex flex-column justify-content-center pt-4 pt-lg-0 order-2 order-lg-1" data-aos="fade-up" data-aos-delay="200">
          <h1>Better Solutions For Your Clients and Assets</h1>
          <h2>We are team of cyber security and software engineers.</h2>
          <div class="d-flex justify-content-center justify-content-lg-start">
            <a href="#about" class="btn-get-started scrollto">Get Started</a>
            <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="glightbox btn-watch-video"><i class="bi bi-play-circle"></i><span>Watch Video</span></a>
          </div>
        </div>
        <div class="col-lg-6 order-1 order-lg-2 hero-img" data-aos="zoom-in" data-aos-delay="200">
          <img src="{% static 'Arsha/assets/img/logo.png' %}" class="img-fluid animated" alt="">
        </div>
      </div>
    </div>

  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= Cliens Section ======= -->
    <section id="cliens" class="cliens section-bg">
      <div class="container">

        <div class="row" data-aos="zoom-in">

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-1.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-2.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-3.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-4.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-5.png' %}" class="img-fluid" alt="">
          </div>

          <div class="col-lg-2 col-md-4 col-6 d-flex align-items-center justify-content-center">
            <img src="{% static 'Arsha/assets/img/clients/client-6.png' %}" class="img-fluid" alt="">
          </div>

        </div>

      </div>
    </section><!-- End Cliens Section -->

    <!-- ======= About Us Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>About Us</h2>
        </div>

        <div class="row content">
          <div class="col-lg-6">
            <p>
              We are CyberMorphic. We raise the professional standards because we do things the old fashioned way,
              with Quality.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i> Assist banks in organizing their workforce, networks, servers and data systems</li>
              <li><i class="ri-check-double-line"></i> Help banks recover quickly and with minimum loss for anything that might happen</li>
              <li><i class="ri-check-double-line"></i> Use cutting-edge technology to protect banks assets and clients.</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
             We are highly skilled professionals that help small to medium sized banks set up and
              maintain the security of their products and assets with up-to-date technology.
            </p>
            <a href="#" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= Why Us Section ======= -->
<!--    <section id="why-us" class="why-us section-bg">-->
<!--      <div class="container-fluid" data-aos="fade-up">-->

<!--        <div class="row">-->

<!--          <div class="col-lg-7 d-flex flex-column justify-content-center align-items-stretch  order-2 order-lg-1">-->

<!--            <div class="content">-->
<!--              <h3>Eum ipsam laborum deleniti <strong>velit pariatur architecto aut nihil</strong></h3>-->
<!--              <p>-->
<!--                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Duis aute irure dolor in reprehenderit-->
<!--              </p>-->
<!--            </div>-->

<!--            <div class="accordion-list">-->
<!--              <ul>-->
<!--                <li>-->
<!--                  <a data-bs-toggle="collapse" class="collapse" data-bs-target="#accordion-list-1"><span>01</span> Non consectetur a erat nam at lectus urna duis? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-1" class="collapse show" data-bs-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Feugiat pretium nibh ipsum consequat. Tempus iaculis urna id volutpat lacus laoreet non curabitur gravida. Venenatis lectus magna fringilla urna porttitor rhoncus dolor purus non.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--                <li>-->
<!--                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-2" class="collapsed"><span>02</span> Feugiat scelerisque varius morbi enim nunc? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-2" class="collapse" data-bs-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Dolor sit amet consectetur adipiscing elit pellentesque habitant morbi. Id interdum velit laoreet id donec ultrices. Fringilla phasellus faucibus scelerisque eleifend donec pretium. Est pellentesque elit ullamcorper dignissim. Mauris ultrices eros in cursus turpis massa tincidunt dui.-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--                <li>-->
<!--                  <a data-bs-toggle="collapse" data-bs-target="#accordion-list-3" class="collapsed"><span>03</span> Dolor sit amet consectetur adipiscing elit? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>-->
<!--                  <div id="accordion-list-3" class="collapse" data-bs-parent=".accordion-list">-->
<!--                    <p>-->
<!--                      Eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci. Faucibus pulvinar elementum integer enim. Sem nulla pharetra diam sit amet nisl suscipit. Rutrum tellus pellentesque eu tincidunt. Lectus urna duis convallis convallis tellus. Urna molestie at elementum eu facilisis sed odio morbi quis-->
<!--                    </p>-->
<!--                  </div>-->
<!--                </li>-->

<!--              </ul>-->
<!--            </div>-->

<!--          </div>-->

<!--          <div class="col-lg-5 align-items-stretch order-1 order-lg-2 img" style='background-image: url("{% static 'Arsha/assets/img/why-us.png' %}")' data-aos="zoom-in" data-aos-delay="150">&nbsp;</div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Why Us Section &ndash;&gt;-->

    <!-- ======= Skills Section ======= -->
<!--    <section id="skills" class="skills">-->
<!--      <div class="container" data-aos="fade-up">-->

<!--        <div class="row">-->
<!--          <div class="col-lg-6 d-flex align-items-center" data-aos="fade-right" data-aos-delay="100">-->
<!--            <img src="{% static 'Arsha/assets/img/skills.png' %}" class="img-fluid" alt="">-->
<!--          </div>-->
<!--          <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left" data-aos-delay="100">-->
<!--            <h3>Voluptatem dignissimos provident quasi corporis voluptates</h3>-->
<!--            <p class="fst-italic">-->
<!--              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore-->
<!--              magna aliqua.-->
<!--            </p>-->

<!--            <div class="skills-content">-->

<!--              <div class="progress">-->
<!--                <span class="skill">HTML <i class="val">100%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">CSS <i class="val">90%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">JavaScript <i class="val">75%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--              <div class="progress">-->
<!--                <span class="skill">Photoshop <i class="val">55%</i></span>-->
<!--                <div class="progress-bar-wrap">-->
<!--                  <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0" aria-valuemax="100"></div>-->
<!--                </div>-->
<!--              </div>-->

<!--            </div>-->

<!--          </div>-->
<!--        </div>-->

<!--      </div>-->
<!--    </section>&lt;!&ndash; End Skills Section &ndash;&gt;-->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Services</h2>

          <p> CyberMorphic Services</p>

        </div>

        <div class="row">

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-box">
              <div class="icon"><i class="bx bxl-dribbble"></i></div>
              <h4><a href="">Network Hardening</a></h4>
              <p>
                  Here at Cyber Morphic, we believe network hardening plays a very crucial role when insuring integrity to our clients. Our clients are our top priority, which is why we believe investing in network hardening was a necessary approach. Network Hardening is a collection of techniques or tools. It reduces the security risk, making its impact significant. These network devices are configured with very strict parameters to maintain network security. At Cyber Morphic, we have three different phases to ensure we protect information and meet our use case.
              </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="200">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-file"></i></div>
              <h4><a href="">SIEM</a></h4>
                <p>CyberMorphic is a pioneer when it comes to security information and event management, a.k.a, SIEM. We assist financial institutions work toward strengthening their defenses by providing industry standards services using cutting-edge technology. CyberMorphic will  receive logs from a controlling network server and ATM endpoints, and employ correlation rules to help security analysts monitor things such as entries into the network, the launching of unsolicited services, software integrity and antivirus feeds. Therefore, CyberMorphic is protecting financial institutions from fraud, such as ATM frauds. </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="300">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
              <h4><a href="">IDS</a></h4>
              <p>Intrusion Detection Systems, a.k.a, (IDS) analyze network traffic for signatures that match known cyberattacks. CyberMorphic will provide services to analyze and monitor network traffic for signs that indicate attackers are using a known cyberthreat to infiltrate or steal data from your internal network. At CyberMorphic, we use the latest technology in cybersecurity to detect several kinds of behaviors like security policy violations, malware, and port scanners.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Backup and Restore/Disaster Recovery</a></h4>
              <p>CyberMorphic understands the security of your Confidentiality, the necessity of maintaining Integrity, and the importance of the availability of resources to your customers. We can provide backup management that will perform backups at optimal times, as well as confirm and store backups. We can aid in designing and implementing a Disaster Recovery System that will address anything from a minor disaster to an all-out catastrophe. CyberMorphic can address any issue that arises as quickly as possible so that there is minimal downtime, if any at all.</p>

            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">IPS</a></h4>
              <p>Intrusion Prevention Systems, a.k.a, (IPS) live in the same area of the network as a firewall, between the outside world and the internal network. IPS proactively deny network traffic based on a security profile if that packet represents a known security threat. CyberMorphic assists in the integration of IPS systems with firewalls to face the threat of data breaches and compliance fines. When a new ransomware attack breaks out, CyberMorphic will help prevent the attack at the network level.</p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Public Relations</a></h4>
              <p>One of the most common failures in disaster recovery is the public relations disaster. Not only do breaches in your network cybersecurity show to customers and clients that your organization did not run your due diligence on your network, lack of transparency or inadequate communication about it will quickly deplete any trust they had in your capability to provide secure services. Cybermorphic  walks you through all steps to right communication with your customers and clients from attack onset to complete recovery.  Cybermophic works with your communications contact person to ensure continued adequate transparency  to drive public confidence while maintaining confidentiality as well.
              </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Educational</a></h4>
            <p>Human error is involved 85% in breaches which is why CyberMorphic will offer cyber security awareness training. It would consist of interactive and real life scenarios so employees know to identify, report, or avoid them. We bring awareness to various cybercrimes, ranging from phishing to unauthorized system access. We assist in minimizing risks and preventing further incidents. Training would consist of short sessions every 4-6 months to stay up to date and improve retention of critical topics.
            </p></div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Hardening of Wireless Network</a></h4>
            <p>We live in a world where literally every device is internet enabled meaning we need to access the internet on the go. Fortunately, Wireless networks are almost everywhere enabling us to access the internet from anywhere without requiring additional hardware such as cables. However, the easy accessibility of these networks makes them a good fishing ground for online criminals which is why we need to rethink the security of our wireless networks.
            <br>
            Network hardening involves securing the basic communication infrastructure of multiple servers and computer systems operating within a given network.
            <br>
            Two of the main ways that network hardening is achieved are by establishing an intrusion prevention system or intrusion detection system, usually software-based. These applications automatically monitor and report suspicious activity in a given network and help administrators prevent unauthorized access to the network.
            <br>
            Network hardening techniques include properly configuring and securing network firewalls, auditing network rules and network access privileges, disabling specific network protocols and unused or unnecessary network ports, encrypting network traffic, and disabling network services and devices not currently in use or never in use.
            Using these techniques in combination with intrusion prevention or intrusion detection system reduces the network’s overall attack surface and thus, bolsters its resistance to network-based attacks
            </p>
            </div>
          </div>

          <div class="col-xl-3 col-md-6 d-flex align-items-stretch mt-4 mt-xl-3" data-aos="zoom-in" data-aos-delay="400">
            <div class="icon-box">
              <div class="icon"><i class="bx bx-layer"></i></div>
              <h4><a href="">Workspace</a></h4>
              <p>CyberMorphic provides workspaces that are unique to each bank. The format is easy to understand, use, and can be accessed from any device. Our workspaces are highly responsive, working at top speed offering a smooth work experience. With workspace, banks have an alternate means of continuing vital tasks in case of disaster or threat. These portals are protected and once the threat has been dealt with your desktop will be exactly how it was left.
              </p>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->


    <!-- ======= Team Section ======= -->
    <section id="team" class="team section-bg">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Team</h2>
          <p>Our team consists of senior cyber security and software engineers</p>
        </div>

        <div class="row">

          <div class="col-lg-6">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="100">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/jay.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Swalley, Jay</h4>
                <span>Cyber Security</span>
                <p>I worked in the IT industry for over 20 years, doing everything from break / fix, hardware and software support, migration projects, and so forth.  I became a person people would come to when tense situations would arise because I could handle them calmly and quickly.  I have been told that I always seem to be in a rush.  That’s because I want to get things done as soon as possible, so if something big happens, I’m ready for it.  I currently attend Saint Peter’s University as a full time student.  My intention is to complete my Bachelors in Cybersecurity / Digital forensics, and if I am able to, obtain my Masters degree also.  I am passionate about protecting people, and I believe in justice for all.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4 mt-lg-0">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="200">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/sam.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Chafiqui, Oussama</h4>
                <span>Software Engineer</span>
                <p>I am a software engineer and senior student at Saint Peter’s university. I have been working professionally in the IT industry for the past 2 years. I built a variety of programs, web applications and backend systems. I am a tech enthusiast, and a big follower of the latest cybersecurity trends and blockchain technology news.</p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/catherine.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Catherine Jamtsho</h4>
                <span>Cyber Security Engineer</span>
                <p>I’m a current senior majoring in Computer Science CIS and planning to achieve a Masters in Cyber Security. Projects I’ve done in the past were creating a shopping application, an SQL database search, and some basic Java programming searches. Privacy is of utmost importance to me. I want to ensure customers feel secure knowing their information is theirs alone. Along with that I believe in communication between business and customers. In the new age of technology it’s difficult to keep up with the old and new. As someone who gets frustrated with unnecessary detail, I will ensure you will know what’s to come and answer any lingering questions to the best of my ability. </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/kent.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Kent Valdelamar</h4>
                <span>Cyber Security Engineer</span>
                <p>
                  I am currently a senior at Saint Peter’s University studying cyber security. In past experience, I have been introduced and have little hands on experience within tools that are used daily by ethical hackers. I have completed project that range from coding games in Python, developing a disaster recovery plan, performing an ethical phishing attack, involved within a group project by designing a network layout map. My passion for the field was inspired by a  show called Mr. Robot, where the protagonist works as a cyber security engineer, but at night he is a cyber vigilante. My goal after finally graduating from Saint Peter’s, and getting my bachelor’s, is to land a full time opportunity or land another internship within the summer and hopefully be offered a full time opportunity.
                </p>
                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/victoria.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Victoria Migochi</h4>
                <span>Cyber Security Engineer</span>
                <p>


                  Forward Thinking IT Professional delivering over 13+ years of experience in improving financial applications that processes over $80M per month in financial transactions. Excellent comprehension of implementing and monitoring cybersecurity mechanisms that safeguard the protection of information technology assets. Protects network infrastructures from cutting edge cyber-attacks and security breaches. Hands-on experience designing and managing business systems, delivering technical expertise in managing disaster recovery, system security, integrations, and migrations.
                </p>

                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="300">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/ab.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Abanoub Boghdady</h4>
                <span>Cyber Security Engineer</span>

                <p>
                  I’m currently a senior at Saint Peter's University majoring in cybersecurity. Over the years of being at the school, being able to choose this major as a part of my career has been able to give me a chance to look into the perspectives of technology and how it has improved throughout decades of dedicated research and hard work. Projects I’ve been in were constructing and building a dataBase for two different Non-profit organizations. My passion is to learn more about the cyber security space and soon be able to create my own technology.

                </p>

                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

          <div class="col-lg-6 mt-4">
            <div class="member d-flex align-items-start" data-aos="zoom-in" data-aos-delay="400">
              <div class="pic"><img src="{% static 'Arsha/assets/img/team/esmeralda.png' %}" class="img-fluid" alt=""></div>
              <div class="member-info">
                <h4>Esmeralda Gutierrez</h4>
                <span>Cyber Security Engineer</span>
                <p>
                  I am a senior attending Saint Peter's University. My major is computer science and I’m also part of the accelerated program to obtain a master’s in cyber security. I have worked on creating webpages and I have some experience in coding. I am always willing to learn and after I graduate I am hoping to find a full time job.
                </p>

                <div class="social">
                  <a href=""><i class="ri-twitter-fill"></i></a>
                  <a href=""><i class="ri-facebook-fill"></i></a>
                  <a href=""><i class="ri-instagram-fill"></i></a>
                  <a href=""> <i class="ri-linkedin-box-fill"></i> </a>
                </div>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->



    <!-- ======= Contact Section ======= -->
    {% include 'core/contact.html' %}

  </main><!-- End #main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">


    <div class="footer-top">
      <div class="container">
        <div class="row">

          <div class="col-lg-3 col-md-6 footer-contact">
            <h3>CyberMorphic</h3>
            <p>
              2641 John F. Kennedy Blvd, <br>
              Jersey City, NJ 07306<br>
              United States <br><br>
              <strong>Phone:</strong> +1 5589 55488 55<br>
              <strong>Email:</strong> cybermorphic@gmail.com<br>
            </p>
          </div>

          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Useful Links</h4>
            <ul>
              <li><i class="bx bx-chevron-right"></i> <a href="#">Home</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#about">About us</a></li>
              <li><i class="bx bx-chevron-right"></i> <a href="#service">Services</a></li>
            </ul>
          </div>


        </div>
      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
        &copy; Copyright <strong><span>CyberMorphic</span></strong>. All Rights Reserved
      </div>
      <div class="credits">
        <!-- All the links in the footer should remain intact. -->
        <!-- You can delete the links only if you purchased the pro version. -->
        <!-- Licensing information: https://bootstrapmade.com/license/ -->
        <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/arsha-free-bootstrap-html-template-corporate/ -->
      </div>
    </div>
  </footer><!-- End Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i class="bi bi-arrow-up-short"></i></a>

  <!-- Vendor JS Files -->
  <script src="{% static 'Arsha/assets/vendor/aos/aos.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/glightbox/js/glightbox.min.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/isotope-layout/isotope.pkgd.min.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/swiper/swiper-bundle.min.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/waypoints/noframework.waypoints.js' %}"></script>
  <script src="{% static 'Arsha/assets/vendor/php-email-form/validate.js' %}"></script>

  <!-- Template Main JS File -->
  <script src="{% static 'Arsha/assets/js/main.js' %}"></script>

</body>

</html>